* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: auto 10px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
.nav li {
  color: #4a4a4a;
}

li {
  list-style: none;
  font-weight: 600;
}

.portfolio-pic {
  max-width: 60%;
}